body{
    scroll-behavior: smooth;
}
.container{
    margin-bottom: 100px;
}
.card{
    border: none;
    transition: all .3s;
}
.card:hover{
    box-shadow: 5px 5px 25px #c3bfbf;
}
.card-footer{
    border-top: none;
}